@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #eaeaea;
  --balck-color: #000000;
  --primary-color: #e41100;
  --bg-secondary-color: #131313

  --background-color: var(--foreground-color);
  --text-color: var(--balck-color);
}

.dark {
  --background-color: var(--balck-color);
  --text-color: var(--foreground-color);
}
/* [data-theme="blue"] {
  --background-color: #e0f7fa;
  --text-color: #00695c;
  --primary-color: #00bcd4;
}

[data-theme="green"] {
  --background-color: #e8f5e9;
  --text-color: #2e7d32;
  --primary-color: #4caf50;
} */

* {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.7s ease, color 0.7s ease;
}

.max-width {
  @apply w-full max-w-[1440px] mx-auto;
}
